[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Jisap/Microservicios-Client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Jisap/Microservicios-Products-ms.git
